/* 전체 배경색  */
body{
	background-color:#F6F7FB;
	font-color : "black"
}
.reg{
	margin-bottom:20px;
}

.content-header h1{
	font-color: #F6F7FB;
    font-weight: 700;
   /*  margin-top: 30px;
    padding: 30px 0 35px; */
    /* text-align: center; */
}
/* 사이드바 배경색 */
.left-sidebar {
    background-color: #404E67;
    display:block;
}

.product-content{
	background-color: #fff;
	max-width: 1000px;
	padding: 10px 20px;
	margin: 10px auto;
	border-radius: 8px;
}
/* 테이블 */
.itemListTable {
  border-collapse: collapse;
  width: 100%;
}

.itemListTable td, .navRegister th {
	border-bottom: 1px solid #ddd;
  	padding: 8px;
  	text-align: left;
  	text-align: center;
}

.itemListTable tr:nth-child(even){background-color: #fff;}

.itemListTable tr:hover {background-color: #ddd;}

.itemListTable th {	
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#808080;
  color: white;
}

/* 버튼 */
.navyBtn {
	float:right;
	width:100px;
    background-color: #35c5f0;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
	border-radius:10px;
}

.form-style-5 .regBtn, 
.form-style-5 .modifyBtn{
	position: relative;
	display: block;
	padding: 14px 39px 14px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #35c5f0;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: none;
	text-decoration: none;
	margin-bottom: 10px;
	border-radius:5px;
}
.form-style-5 .deleteBtn{
	position: relative;
	display: block;
	padding: 14px 39px 14px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #f8585b;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: none;
	text-decoration: none;
	margin-bottom: 10px;
	border-radius:5px;
}

/* register form */
.form-style-5{
	max-width: 750px;
	padding: 30px 50px 30px 50px;
	background: #fff;
	margin: 10px auto;
	border-radius: 8px;
}

.form-style-5 label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}
.form-style-5 input[type="text"],
.form-style-5 textarea{
	background: #e9ecef;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 8px 10px 10px 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#262626;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 0px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #fff;
	border: 1px solid;
	
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:40px;
	width:25%;
	background: #e9ecef;
	border: none;
	border-radius: 4px;
	font-size: 13px;
	margin: 0;
	outline: 0;
	padding: 8px 10px 10px 10px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#262626;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 0px;
}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #fff;
}

img{
	display: inline-block; 
	float:left; 
	width:50px;
}

