.clearfix:after { content: ''; dispaly: table; clear: both }
.container,.inner{max-width: 1200px;margin:0 auto}
/* gnb */
.navbar-nav li.on a{color:#35c5f0 !important;}
/* nav */
.main_menu .main-menu-item ul li .nav-link{font-weight:bold;font-family: 'Noto Sans KR', sans-serif; }
.main_menu{width:100%}
.navbar{border-bottom: solid 1px #ddd;}
.headerLogo {
	display: inline-block;
	font-size: 29px;
	margin: 20px 20px 12px 20px;
	font-family: 'Jua', sans-serif;
}
.nav_ul>li {
	font-family: 'Noto Sans KR', sans-serif !important;
	font-weight: 600;
	margin-right: 16px;
}
.loginBtn{
	padding: 8px 16px;
	margin-left: 20px;
}
.loginBtn a{padding: 0 10px !important; font-family: 'Noto Sans KR', sans-serif !important;}

/* index */
.carousel{margin-top: 50px;}
.section_tittle{margin-bottom: 50px;}
.section_tittle h4{font-family: 'Noto Sans KR', sans-serif; display: inline-block;margin-left: 15px;}
.section_tittle a{float: right;margin-right: 15px;}

/* register step1 */
.regPage{max-width:700px;margin:0 auto;}
.regPage .formArea{text-align: center;margin-bottom: 30px;}
.regPage .title{font-size: 28px;font-weight: bold;font-family: "Noto Sans KR", "맑은 고딕";margin: 13px 0 40px 0;}
.regArea .textArea{
	padding: 16px;
    border: solid 1px #424242;
    line-height: 25px;}
.formArea .regChk{margin-right: 10px;}

/* register step2 */
.regPageStepTwo{max-width: 350px;margin:0 auto;}
.regPageStepTwo .title{font-size: 28px;font-weight: bold;font-family: "Noto Sans KR", "맑은 고딕";margin: 13px 0 40px 0;}
.regPageStepTwo .field{margin-bottom: 12px;}
.regArea .label{
	text-align: left;
	flex: 0 0 auto;
    width: 140px;
    padding-left: 10px;
    font-size: 15px;
    color: #424242;
    line-height: 40px;}
.regArea input[type=text],input[type=password]{
	border: 1px solid #dcdcdc;
    margin: 0;
    padding: 0 15px;
    line-height: 38px;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    width:40%;}
.regArea input[name=memberId]{width:60%;}
.regArea input[name=memberName]{width:100%;}
.regArea input[name=memberPw]{width:100%;}
.regArea input[name=confirmPassword]{width:100%;}
.regArea .idChk{
	width:38%;
	height: 40px;
    line-height: 40px;
    color: white;
    background: #35c5f0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    border:none;}
.regPageStepTwo .regBtn{
	width:100%;
    margin: 40px 0 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    background: #35c5f0;
    border-radius: 4px;
    cursor: pointer;
    border:none;
} 

/* login form */
.buttonArea{
	margin-left:-10px;
}
.buttonArea:after{content:'';display:block;clear:both}
.buttonArea li{width:50%;padding-left:10px;float:left}

/* fixed bar*/
.recentArea{padding: 10px;position: fixed;top: 20%;right: 10px;background: #f8f9fa;text-align: center;padding-top:10px}
.recentArea .topBtn{width: 100%;padding:10px 15px;border:1px solid #ddd;background:none;display: inline-block;}
.recentArea ul{width: 80px;padding:0; margin-top:10px;list-style:none;}
.recentArea li{margin-top:10px;}
.recentArea li:first-child{margin-top:0px}
.recentArea li img{width: 100%;} 
.recentArea .top{text-decoration: none;}

/* store  */
.pdList{}
.pdList ul{margin-top: 20px;}
.pdList li{width:25%;float:left;padding:0px 15px 17px;}
.pdList li a{cursor: pointer;}
.pdList .imgArea{text-align: center;border-radius:4px;overflow: hidden;}
.pdList .imgArea img{width:100%}
.pdList .imgArea:hover img{transform:scale(1.1);transition: transform .5s;}
.pdList .infoArea{margin-top:10px}
.pdList .infoArea .brand{display: block;
    color: #757575;
    word-break: break-all;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;}
.pdList .infoArea .ttl{display: block;
    height: 34px;
    margin-top: 5px;
    word-break: break-all;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #000;
    transition: opacity .1s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;}
.pdList .infoArea .pdSum{margin-top:5px;font-size: 17px;
    line-height: 23px;
    font-weight: 700;color:#000}
.gnbList{transition: top .1s;
    background-color: #fff;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 0 20px;
    white-space: nowrap;}
.gnbList ul{
    max-width: 1200px;
    margin: 0 auto;
    }
.gnbList li{position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    margin: 0 4px;
    padding: 8px 4px 7px;
    color: #424242;
    cursor: pointer;
    vertical-align: bottom;
    /* width: 14.2%; */
    text-align: center;}
.gnbList li a{text-decoration: none;color: #424242;}
.gnbList li .txt{margin-top: 10px;font-weight:bold}
.gnbList li.on .txt,.gnbList li:hover .txt{color:#35c5f0 !important;}

/* cart */
.orderSec{background-color: #f5f5f5;}
.orderSec .inner > .allChek{padding-left: 20px;padding-bottom:5px}
.orderSec .inner{padding:20px 0 100px}
.leftSec{float:left;width:65%; }
.leftSec > .depth1{margin-right:20px;}
.leftSec > .depth1 > li{margin-top:15px;background-color:#fff;padding:10px 15px 10px 60px;position: relative;border-radius:5px}
.leftSec > .depth1 > li:first-child{margin-top:0}
.leftSec > .depth1 li .cartChek{position: absolute;left: 20px;}
.leftSec .orderPd{}
.leftSec .orderPd .imgSec{float:left;width: 70px;margin:0 10px 10px 0;
    height: 70px;
    border-radius: 6px;
    background-color: #ededed;
    overflow: hidden;}
.leftSec .orderPd .infoSec{float:left;    padding-top: 10px;}
.leftSec .orderPd .infoSec .txt{min-width: 0;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    line-height: 21px;
    overflow-wrap: break-word;
    transition: opacity .1s;}
.leftSec .orderPd .infoSec .dv{    margin-top: 8px;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #757575;
    overflow-wrap: break-word;}
.xbtn{cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;font-size: 20px;}


.leftSec .depth2 li{margin-top:10px;background-color: #f5f5f5;padding:10px;border-radius: 5px;position: relative;}
.leftSec .depth2 li:first-child{margin-top:0;}
.leftSec .depth2 .txt{padding: 0 22px 10px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #424242;}
.leftSec .depth2 .price{ position: absolute;right: 10px;bottom:10px}
.leftSec .pdTotal{position: relative;margin: 15px 0;
    padding: 10px 10px 0px;
    border-top: 1px solid #ddd;}
.leftSec .pdTotal .dv{}
.leftSec .pdTotal .totalPrice{position: absolute;right: 10px;bottom:0px;color: #000;
    font-size: 17px;
    font-weight: 700;}
.rightSec{float:left;width:35%;}
.rightIn{padding: 10px;border-radius:5px;background-color:#fff}
.rightSec dl{display: table;width:100%;padding:10px;margin-bottom: 0;}
.rightSec dt{display: table-cell;font-size: 15px;
    font-weight: 400;
    color: #424242;}
.rightSec dd{display: table-cell;text-align: right;font-size: 15px;
    font-weight: 400;
    color: #424242;}
.rightSec .total{margin-top:10px;border-top:1px solid #ddd;}
.rightSec .total dt{font-size: 15px;font-weight: 700;}
.rightSec .total dd{font-size: 24px;font-weight: 700;}
.rightSec .btnArea{margin-top:10px}
.rightSec .btnArea .genric-btn{width:100%;padding:7px 0; font-size: 20px; font-weight:700 }

@media (min-width: 576px){
	/* .container{max-width: inherit !important;} */
}

@media screen and (max-width: 768px) {
 	.recentArea{display:none !important;}
 	.pdList li{width:33.3%}
}


/* item detail */
.owl-carousel .owl-item img{width: 40%;margin: auto;}
.product_count input[type=number]{
	background-color: white;
    border: solid 1px #ddd;
    padding: 10px;
    color: #424242;
}


/* order page */
.orderPage{max-width: 760px;margin:0 auto;}
.orderPage .title{font-size: 28px;font-weight: bold;font-family: "Noto Sans KR", "맑은 고딕";margin: 13px 0 40px 0;}
.orderPage .ttl{font-size: 20px;font-weight: bold;font-family: "Noto Sans KR", "맑은 고딕";border-bottom: solid 2px #ddd;
    padding-bottom: 15px;}
.orderPage .orderBtn{
	width:100%;
    margin: 40px 0 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    background: #35c5f0;
    border-radius: 4px;
    cursor: pointer;
	}
.cartArea{margin-bottom: 45px;}
.cartArea .orderPd{padding: 10px 0px 0px 10px;}
.cartArea .imgSec{float: left;
    width: 70px;
    margin: 0 13px 10px 0;
    height: 70px;
    border-radius: 6px;
    background-color: #ededed;
    overflow: hidden;}
.cartArea ul{margin-bottom: 20px;}
.cartArea li{border-bottom: solid 1px #ddd}
.orderPd .infoSec{margin-top: 10px;}
.infoSec .txt{font-size: 15px;color: #424242;margin-bottom: 5px;font-weight: bold;letter-spacing: -0.4px;}
.infoSec .option{font-size: 15px;color: #757575;margin-bottom: 5px;}
.orderArea{margin-bottom: 45px;}
.orderArea .field{display: flex;margin: 20px 0 0 0;}
.orderArea .label{
	text-align: left;
	flex: 0 0 auto;
    width: 140px;
    padding-left: 10px;
    font-size: 15px;
    color: #424242;
    line-height: 40px;}
.orderArea input[type=text]{
	border: 1px solid #dcdcdc;
    margin: 0;
    padding: 0 15px;
    line-height: 38px;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    width:40%;}
.orderArea input[name=memberName]{width:50%;}
.orderArea input[name=memberTel]{width:50%;}
.orderArea input[name=postcode]{width:25%;}
.orderArea input[name=orderMessage]{width:81%;}
.field .input{flex: auto;}
.field .genric-btn{height: 40px;
    line-height: 40px;
    color: white;
    background: #35c5f0;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;}

/* order success page */
.orderSuccessPage{max-width: 760px;margin:0 auto;padding: 30px;text-align: center;}
.orderSuccessPage .txt{margin: 45px 0;color: #424242;    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;}
.orderSuccessPage a{color: white;}
.orderSuccessPage .orderBtn{
	height: 40px;
    line-height: 40px;
    color: white;
    background: #35c5f0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 0 30px 0;
}
.priceArea .totalTxt{margin-top: 20px;font-size: 24px;font-weight: bold;}

/* 커뮤니티 홈 */
.blog-info-link{color: #ff8b23;}
.blog-info-link i{margin-right: 5px;}
.blog_item .btnArea{text-align: right;}
.clearfix .blog_details{padding: 30px 30px 35px 35px;}
.blog_details h5{
	cursor: pointer;
	overflow: hidden;
    height: 24px;}
.btnArea select {
	width: 200px;
	padding: .8em .5em;
	border: 1px solid #999;
	font-family: inherit;
	background: url('arrow.jpg') no-repeat 95% 50%;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


/* write article */
.filebox input[type="file"] {
   position: absolute;
   width: 0;
   height: 0;
   padding: 0;
   overflow: hidden;
   border: 0;
}
.filebox input[type="submit"] {
   position: absolute;
   width: 0;
   height: 0;
   padding: 0;
   overflow: hidden;
   border: 0;
}
.filebox input[type="button"] {
   position: absolute;
   width: 0;
   height: 0;
   padding: 0;
   overflow: hidden;
   border: 0;
}
.filebox label {
   display: inline-block;
   padding: 7px 20px;
   color: #999;
   vertical-align: middle;
   background-color: #fdfdfd;
   cursor: pointer;
   border: 1px solid #ebebeb;
   border-radius: 5px;
   margin: 0;
}
/* named upload */
.filebox .upload-name {
   display: inline-block;
   height: 35px;
   font-size: 18px;
   padding: 7px 20px;
   vertical-align: middle;
   background-color: #f5f5f5;
   border: 1px solid #ebebeb;
   border-radius: 5px;
}

/* read article */
.articleArea{max-width:730px;margin: auto;}
.articleArea .title{font-size: 28px;font-weight: bold;font-family: "Noto Sans KR", "맑은 고딕";margin: 20px 0 20px 0;}
.articleInfo .articleImg{margin-bottom: 30px;text-align: center;}
.articleInfo{margin-bottom: 30px;}
.articleInfo ul{margin-bottom: 20px;}
.articleInfo li{float: left;margin-right: 30px;color:#6c757d;font-size: 13px;}
.contentArea{border-top: solid 1px #ddd;padding-top: 40px;}
.commentArea{padding-top: 50px;
    border-top: 0.5px solid #ddd;margin-bottom: 15px;}
.commentArea input[name=commentContent]{
	border: 1px solid #ddd;
    padding: 10px;
    width: 85%;}
.commentArea input[name=commentInsertBtn]{
	padding: 11px;
    border: none;
    width: 14%;
    background-color: #ddd;}
.commentArea h4{margin-top: 30px;}
.commentArea .commentSec{padding: 6px;}
.commentSec .contentSec{color: #424242;font-size: 15px;}
.commentInfo li{float: left;margin: 8px 25px 0 0;}

/* writer page */
.btnArea .writerInfo{    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #424242;
    margin-top: 25px;}


/* footer */
#footer{padding: 6em 0 4em 0;
    /* background: #35c5f0; */
    text-align: center;
    color: #313131;}
